.navigation .navbar-brand{
	color: white; 
	margin-left: 50px; 
	padding:10px; 
	font-weight: bold; 
	background-color: #02adad;
    font-family: Georgia, Times, "Times New Roman", serif;
    position:inherit;
    z-index:1 ;
}

.navbar{
    max-height: 45px; 
	background-color:white; 
    font-size: 15px; 
    position: inherit;
    z-index: 0;
}
#navbarNavDropdown{
    position: inherit;
    z-index: 2;
    background-color: white;

}



body {
    background-color: #eee;
}

div.content {
    background-color: white;
    padding: 15pt;
    margin-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    overflow: auto;
}

img { 
    border: 1px solid white; 
  } 
img:hover { 
    border: 1px solid #02adad; 
  } 
.img-thumbnail {
    margin-bottom: 15px;
}

div.footer{
    background-color: rgb(45, 48, 49);
    color: white;
    margin-bottom: 10px;
}

h1, h2, h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#02adad;
    font-size: 22px;
    font-weight: bold;
    text-align:left;
  }

@media (max-width: 991px) {
.navigation .navbar-brand{
    color: white;
    max-height: 50px;
    background-color: #02adad;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.navbar{
    max-height: 50px; 
    background-color:#02adad; 
}
}